layout {
    cwd "/home/fobos"
    tab name="tab #1" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane  split_direction="vertical" {
            pane command="gping"  {
                args "-b" "20" "8.8.8.8" "192.168.8.1"
                start_suspended false
            }
            pane split_direction="vertical"  {
                pane command="sh"  {
                    args "/home/fobos/dotfiles/bin/utils/watch.sh" "-t" "-n0.5" "nmcli -p -c yes d s" 
                    start_suspended false
                }


                pane command="sh"  {
                    args "/home/fobos/dotfiles/bin/utils/watch.sh" "-t" "-n0.5" "ip" "r"
                    start_suspended false
                }
            }
        }
        pane  split_direction="vertical" {
            pane command="gping"  {
                args "-b" "20" "192.168.1.50" "10.100.0.1" "116.203.205.147"
            }
            pane  split_direction="vertical" {

                pane command="mtr"  {
                    args "8.8.8.8"
                }

                pane command="sh"  {
                    args "/home/fobos/dotfiles/bin/utils/watch.sh" "-t" "-n0.5" "iwconfig" 
                    start_suspended false
                }
            }
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
